.home{
    width: 80%;
    height: 100%;
}
.container{
    width:100%;
    height: 600px;
    background-color: #ebebeb70;
    margin: 20px auto 0 0;
    padding: 20px;
}
.address{
    border-radius: 10px;
    border: 2px #516214 solid;
    padding: 20px;
    margin-bottom: 10px;
}
.text-color{
    color: #92ac18;

}
.button{
    width: 160px;
}
.css-1s2u09g-control:hover{
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}
.css-1s2u09g-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}
.modal{
    display: block;
}
