.home{
    width: 80%;
    height: 100%;

}
.container{
    width:100%;
    height: auto;
    background-color: #ebebeb;
    margin: 0 auto ;
    padding: 20px;
    overflow-y: auto;
    min-height: 621px;
}
.address{
    border-radius: 10px;
    border: 2px #516214 solid;
    padding: 20px;
    margin-bottom: 10px;
}
.text-color{
    color: #516214;

}
.button{
    width: 160px;
}
.css-1s2u09g-control:hover{
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}
.css-1s2u09g-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}
.modal{
    display: block;
}
.title-address{
    font-size: 20px;
    color: #516214;
    font-weight: bold;
}
@media screen and (min-width: 830px) and (max-width:  992px ) {
.container{
    min-width: 100%;
}
}
@media screen and (min-width: 500px) and (max-width:  830px ) {
    .main{
        flex-direction: column;
    }
    a.header-nav-link.active {
        display: block;
        background-color: #ffffff;
    }
    .home{
        background-color: #ebebeb70;
        width: 100%;
    }
    .container {
        width: 90%;
        background-color: white;
        box-shadow: 2px 1px 3px 2px #d9d9d9;
        margin: 30px auto;
        border-radius: 10px;
    }
    .text-center {
        text-align: left;
    }
}
@media all and (max-device-width: 500px){
    .container{
        margin-top: 20px;
    }
    .home{
        width: 100%;
    }
    .text-color{
        font-size: 20px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    label{
        font-size: 14px;
    }
    .button{
        font-size: 12px;
    }
}
